.about_container{
    display: flex;
    gap: 2rem;
    margin-block: 2rem;
}
#about{
    margin-bottom: 4vh;
    position: relative;
}

.scroll-down{
    position: absolute;
    border-radius: 4px;
    background-color: var(--text-color);
    height: 50px;
    width: 30px;
    right: 5%;
    bottom: 10px;
}

.section-container{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}



.about_pic{
    border-radius: 2rem;
}

.about_details_container{

    gap: 4rem;
}

.details_container{
    padding: 1.5rem;
    border: 0.2rem solid var(--text-color);
    border-radius: 2rem;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#about .text_p, .title{
    text-align: center;
}

.title{
    font-size: var(--fs-2);
    margin-block: 1rem;
}

.no{
    border: none;
}

#experience{
    background: var(--text-color);
}
.arrow{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

/*********** PROJECTS ***********/
.experience_container{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}

.card{
    padding: 1rem;
    border: .1rem solid var(--text-color);
    border-radius: 2rem;
    width: 30%;
}

.article_container{
    border-radius: 2rem;
}

.article_container img{
    width: 100%;
    border-radius: 1rem;
}

.project_title{
    margin-block: 1.5rem;
    font-weight: 700;
}

#projects .text_p{
    text-align: center;
}

#projects{
    padding-top: 4rem;
}


.icon{
    width: 1.5rem;
}

.btn_container{
    gap: 1rem;
}

@media screen and (max-width: 1200px) {
    .experience_container{
        display: grid;
        row-gap: 2rem;
    }

    .card{
        width: fit-content;
    }
    .section-container{
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        flex-direction: column;
    }

    .about_container{
        display: grid;
        gap: 1rem;
        margin-block: 1rem;
    }
}

@media screen and (max-width: 500px){
    .title{
        font-size: var(--fs-3);
        margin-block: .5rem;
    }

    p{
        font-size: 16px;
    }
    .section-container img{
        width: 100%;
        height: auto;
    }
    
}