.about_container{
    display: flex;
    gap: 2rem;
    margin-block: 2rem;
}

.section-container{
    padding-top: 4rem;
}

.about_details_container{

    gap: 4rem;
}

.details_container{
    padding: 1.5rem;
    border: 0.2rem solid var(--text-color);
    border-radius: 2rem;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#about .text_p, .title{
    text-align: center;
}

.title{
    font-size: var(--fs-2);
    margin-block: 1rem;
}

.no{
    border: none;
}

#experience{
    background: var(--text-color);
}

/*********** PROJECTS ***********/