@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root{
    --bg-color: #fff;
    --text-color: rgb(55, 54, 54);
    --secondary-color: pink;
    --primary-color: rgb(0, 149, 255);

    --grad-color-green: linear-gradient(to right, #ea95ea, #9ae39a);

    --fs-3: 1.5rem;
    --fs-2: 2.5rem;

    --font-fam1: "Roboto", sans-serif;
    --font-fam2: "Geist Mono", monospace;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: var(--font-fam2);
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
}

h1, h2, h3,
h4{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: var(--font-fam1);
    font-style: normal;
}

a{
    text-decoration: none;
    font-family: var(--font-fam1);
    font-style: normal;
}

ul{
    list-style: none;
}

section{
    padding-top: 4vh;
    height: 96vh;
    padding-inline: 13rem;
    min-height: fit-content;
    transition: all 450ms ease-in;
}

#contact{
    padding-block: 4vh;
    padding-inline: 13rem;
}

.hero{
    display: flex;
    animation: smooth-appear 10s ease-out forwards;
}

#hero{
    display: flex;
    justify-content: start;
    gap: 5rem;
    padding-top: 20vh;
}

.hero_pic{
    height: 400px;
    width: 400px;
    display: flex;
    margin: auto 0;
}

.hero_pic img{
    border-radius: 3rem;
}

.hero_txt{
    align-items: center;
    align-self: center;
}

.hero_txt h1{
    margin-block: 1rem;
    font-size: 3rem;
}
.hero_txt h4{
    margin-block: 0.75rem;
    font-size: 1rem;
}

.text_p1{
    font-size: 1.75rem;
    margin-bottom: 1rem;
    
}

.social_container{
    display: flex;
    padding-top: 1rem;
    gap: 1.5rem;
    justify-content: start;
    align-items: center;
}
.icon{
}

footer{
    background: var(--text-color);
    color: var(--bg-color);
}

.foot-container{
    padding-block: 2rem;
    text-align: center;
}

.title.white{
    color: var(--bg-color);
}
.hero_pic{
    animation: moveLeft 950ms ease-out;
}

.hero_txt{
    animation: moveRight 950ms ease-out;
}

.icon{
    height: 2rem;
    cursor: pointer;
}



@keyframes smooth-appear {
    to{
        bottom: 20px;
        opacity: 1;
    }
}
@keyframes moveRight {
    from{
        transform: translateX(900px);
    }
    to{
        transform: translateX(0);
    }
}

.nav-container{
    animation: fromTop 950ms ease-out;
    animation-fill-mode: both;
    animation-delay: 1s;
}
@keyframes fromTop {
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes moveLeft{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: all 2s ease-out;
}

.show{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

@media (prefers-reduced-motion){

    /* @keyframes appear{
        0%{
            opacity: 0;
            /* clip-path: inset(0 100% 100% 0); 
            transform: translateX(-100px);
        }
        100%{
            opacity: 1;
            /* clip-path: inset(0 0 0 0); 
            transform: translateX(0);
        }
    }
    
    section{
       

        animation-name: appear;
        animation-timing-function: linear;
        
        animation-range: entry 0;
        animation-timeline: view();
    } */
    .hero, .hero_pic, .hero_txt{
        animation: none;
    }

    .nav-container{
        animation: none;
    }
    
    .hidden{
        transform: translateX(0);
        opacity: 1;
        transition: none;
        filter: blur(0);
    }
    
}

@media screen and (max-width: 1400px) {
    #hero{
        
        margin-bottom: 4rem;
    }
    
      #experience,
      .experience-details-container {
        margin-top: 2rem;
      }
      #profile,
      .section-container {
        display: block;
      }

    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    
}

@media screen and (max-width: 1024px) {
    section{
        padding-inline: 8rem;
    }
    h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    #hero{
        display: block;
    }

    section{
        padding-inline: 6rem;
        padding-top: 2vh;
    }
    .hero_pic{
        margin-left: auto;
        margin-right: auto;
    }
    .hero_txt{
        padding-top: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .hero_txt h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    .text_p1{
        font-size: 1rem;
    }

    section{
        padding-inline: 1rem;
    }

    .contacts{
        border: var(--text-color) .2rem solid;
        border-radius: .5rem;
        padding: .3rem;
        width: 100%;
    }

    #contact{
        display: flex;
        padding: 3rem;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    section{
        padding-inline: .5rem;
    }
    .hero_pic{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .hero_pic img{
        border-radius: 1rem;
        width: 100%;
    }

    .experience_container{
        margin-top: 2rem;
    }
}