@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root{
    --bg-color: #fff;
    --text-color: rgb(55, 54, 54);
    --secondary-color: pink;
    --primary-color: rgb(0, 149, 255);

    --grad-color-green: linear-gradient(to right, #ea95ea, #9ae39a);

    --fs-3: 1.5rem;
    --fs-2: 2.5rem;

    --font-fam1: "Roboto", sans-serif;
    --font-fam2: "Geist Mono", monospace;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: var(--font-fam2);
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
}

h1, h2, h3,
h4{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: var(--font-fam1);
    font-style: normal;
}

a{
    text-decoration: none;
    font-family: var(--font-fam1);
    font-style: normal;
}

ul{
    list-style: none;
}

section{
    padding-top: 4vh;
    height: 96vh;
    padding-inline: 13rem;
    min-height: fit-content;
}

.hero{
    display: flex;
}

#hero{
    display: flex;
    height: 80vh;
    justify-content: start;
    gap: 5rem;
}

.hero_pic{
    height: 400px;
    width: 400px;
    display: flex;
    margin: auto 0;
}

.hero_pic img{
    border-radius: 3rem;
}

.hero_txt{
    align-items: center;
    align-self: center;
}

.hero_txt h1{
    margin-block: 1rem;
    font-size: 3rem;
}
.hero_txt h4{
    margin-block: 0.75rem;
    font-size: 1rem;
}

.text_p1{
    font-size: 1.75rem;
    margin-bottom: 1rem;
    
}

.social_container{
    display: flex;
    padding-top: 1rem;
    gap: 1.5rem;
    justify-content: start;
    align-items: center;
}
.icon{
}