.button{
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 600;
    width: 8rem;
    font-size: 1rem;
}

.btn{
    background: var(--text-color);
    color: var(--bg-color);
}